@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gray_color: #4d4d4d;
  --light_gray_color: #e8edf5;
  --shade_color: #5c5c5c;
  --white_color: #ffffff;
  --black_color: #000000;
  --black_opacity: rgba(0, 0, 0, 0.5);
  --white_smoke: #f1f1f1;
  --button_color: #17479e;
  --border_color: #c4c4c4;
  --button_opacity: rgba(23, 70, 158, 0.2);
  --opacity_bg: rgba(23, 70, 158, 0.94);
  --red_color: #fc0202;
}
/* body {
  background-color: #000000;
} */

/* CSS Animation */
.nav-scroll {
  animation: slideDown 0.5s ease-in-out forwards;
}

/* Keyframes Definition */
@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
