@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gray_color: #4d4d4d;
  --white_color: #ffffff;
  --black_color: #000000;
  --white_smoke: #f1f1f1;
  --button_color: #17479e;
  --red_color: #fc0202;
  --opacity_bg: rgba(23, 70, 158, 0.94);
}
body {
  background-color: #000000;
}
